
{{> navbar }}
{{> jumbotron}}

<div class="container">
  {{#each articles}}
    <div class="card mb-3 shadow p-3 mb-5 bg-info rounded">
      <div class="card-body">
        <p class="link-font">{{this.title}}</p>
          <a class="btn btn-success" href="{{this.link}}" target="_blank" role="button">view article</a>
          <button class="btn btn-primary save-button" role="button" article-name="{{this.title}}" link-name="{{this.id}}">{{this.favorite}}</button>
      </div>
    </div>
  {{/each}}  
</div>

<script type="text/javascript" src="../assets/js/mystuff.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>